/* Cabeçalho do Perfil */
.profile-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color:#fafafa;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    height: 150px;
}

.profile-header-container {
    display: flex;
    align-items: center;
}


img.img-profile {
    position: relative; /* Permite ajustar a posição */
    bottom: 68px;          /* Move para baixo (use valores positivos ou negativos para ajustar) */
    left: -3px;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
    border: 3px solid #fafafa;

}

h2 {
    position: relative; /* Permite ajustar a posição */
    bottom: 6px;          /* Move para baixo (use valores positivos ou negativos para ajustar) */
    left: 250px;
    font-weight: bold;  /* Adiciona destaque ao nome */
    font-size: 20px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:#007bff;
}







/* Estilos do formulário */
.edit-profile-form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 600px; /* Define uma largura máxima */
    margin: 20px auto; /* Centraliza o formulário */
    box-sizing: border-box;
    max-width: 100%;
}

.edit-profile-form h3 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #007bff;
    text-align: center;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 8px;
    font-size: 16px;
    color: #333;
}

.form-group input,
.form-group textarea {
    width: 100%; /* Faz os campos ocuparem 100% da largura disponível */
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
}

.form-group textarea {
    resize: vertical; /* Permite redimensionar verticalmente */
}

.form-group button {
    width: 100%;
    padding: 12px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.form-group button:hover {
    background-color: #0056b3;
}
