body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-start; /* Posiciona os elementos à esquerda */
    align-items: flex-start;
    background-color: #007bff;
    margin-top: 120px;
    margin-left: 340px;

}

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 800px;
    margin: 0;
}

.profile-header {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.profile-header .user-info {
    display: flex;
    align-items: center;
}

.profile-header .user-info .user-picture {
    flex-shrink: 0;
    width: 100px;
    height: 100px;
    margin-right: 20px;
}

.profile-header .user-info .user-details {
    flex-grow: 1;
}

.profile-header .user-info .buttons {
    text-align: right;
}

.profile-header .followers-count {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    border-top: 1px solid #ddd;
    padding-top: 10px;
}

.user-posts-history {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.posts .post {
    margin-bottom: 20px;
    background-color: #fff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Botões */

.btn-primary {
    margin-top: 110px;
    font-size: 14px;
    padding: 8px 12px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.btn-danger {
    margin-top: 110px;
    font-size: 14px;
    padding: 8px 12px;
    background-color: #ff4d4d;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.btn-primary:hover,
.btn-danger:hover {
    opacity: 0.9;
}
