strong {
    font-size: 17px;
    padding: auto;
}

div.profile-header {
    height: 170px;
}

p.info {
    height: 30px;
    font-size: 17px;
    margin-top: 10px;
}

a.edit-profile-btn {
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    margin-top: 145px;
    border: none;
    transition: all 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}

a.edit-profile-btn:hover{
    background-color: #fafbfc; /* Cor de fundo no hover */
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15); /* Sombra maior no hover */
    transform: scale(1.05); /* Efeito de "crescer" no hover */
}

a.edit-profile-btn:active{
    background-color: #e0e0e1; /* Cor de fundo no clique */
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2); /* Reduz sombra no clique */
    transform: scale(0.95); /* Efeito de "encolher" no clique */
}

h2{
    margin-top: 10px;
}

img.avatar {
    border-radius: 100%;
    width: 100px;
    height: 100px;
    margin-left: -6px;
    margin-top: -3px;
    border: 4px solid #7d7d7d;
    object-fit: cover;
    padding: 1px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); 

}

