{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro - Trinar</title>
    <link rel="stylesheet" href="{% static 'css/register.css' %}">
    <script defer src="{% static 'js/register.js' %}"></script>
</head>
<body>
    <div class="register-container">
        <div class="register-form">
            <h1>Registro</h1>
            <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}  <!-- Aqui o formulário é renderizado com o 'as_p', que gera os campos em <p> -->
                <button type="submit" class="btn-submit">Registre-se</button>
            </form>
            <p class="redirect">Já possui uma conta? <a href="{% url 'users:login' %}"> Logue-se.</a></p>
        </div>
    </div>

    <script>
        // Desabilita o preenchimento automático para todos os campos de input
        document.querySelectorAll('input').forEach(input => {
            input.setAttribute('autocomplete', 'off');
        });
    </script>
</body>
</html>